
  <br>
  <br>
<div class="row text-primary">
    <div class="col-sm-3">


        <!-- "statewise": [
		{
			"active": "15757",
			"confirmed": "20482",
			"deaths": "653", -->


        <ng-container *ngFor="let d of dashboard2.statewise|slice:0:1">
        <ng-container *ngFor='let e of dashboard2.cases_time_series|slice:-1'>    
        <div class="card " style="background:#add8e6" >
            <h4 class="text-center text-primary" >Total Confirmed</h4>
            <br>
            <sup><p class="text-center text-primary" >+[{{ d.confirmed-e.totalconfirmed }}]</p></sup>
          <div class="card-body text-center" >{{d.confirmed}}</div>
        </div>
        </ng-container>
    </ng-container>
    </div>
    <div class="col-sm-3">


        <ng-container *ngFor="let d of dashboard2.statewise|slice:0:1">   
            <ng-container *ngFor='let e of dashboard2.cases_time_series|slice:-1'>  
        <div class="card " style="background:#add8e6" >
            <h4 class="text-center text-primary" >Total Active Cases</h4>
            <br>
            <sup><p class="text-center text-primary" >+[{{ d.active-(e.totalconfirmed-e.totalrecovered-e.totaldeceased) }}]</p></sup>
          <div class="card-body text-center" >{{ d.active }}</div>
        </div>
    </ng-container>
    </ng-container>
    </div>

    <div class="col-sm-3">
        <ng-container *ngFor="let d of dashboard2.statewise|slice:0:1">   
            <ng-container *ngFor='let e of dashboard2.cases_time_series|slice:-1'> 
        <div class="card " style="background:#add8e6">
            <h4 class="text-center text-primary">Total Recovered</h4>
            <br>
            <sup><p class="text-center text-primary" >+[{{ d.confirmed-d.active-d.deaths-e.totalrecovered }}]</p></sup>
          <div class="card-body text-center">{{d.confirmed-d.active-d.deaths}}</div>
        </div>
        </ng-container>
        </ng-container>
    </div>
    <div class="col-sm-3">
        <ng-container *ngFor="let d of dashboard2.statewise|slice:0:1">
            <ng-container *ngFor='let e of dashboard2.cases_time_series|slice:-1'>    
        <div class="card " style="background:#add8e6">
            <h4 class="text-center text-primary">Total Deceased</h4>
            <br>
            <sup><p class="text-center text-primary" >+[{{ d.deaths-e.totaldeceased }}]</p></sup>
          <div class="card-body text-center">{{ d.deaths}}</div>
        </div>
        </ng-container>
        </ng-container>
    </div>
</div> 
<br>
<br>
<!-- <p>{{dashboard2.cases_time_series.toString()}}</p> -->
<!-- <div class="row">
    <div class="col-sm-6"> -->
<table class="table text-primary" style="background:#add8e2">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Daily Confirmed</th>
        <th scope="col">Daily Recovered</th>
        <th scope="col">Daily Deceased</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let d of dashboard2.cases_time_series'>
        <th scope="row">{{ d.date}}</th>
        <td>{{d.dailyconfirmed}}</td>
        <td>{{d.dailyrecovered}}</td>
        <td>{{d.dailydeceased}}</td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table> 
  <!-- </div>
  </div> -->
  